services:
  backend:
    build:
      context: ../../backend
    image: backend:latest
    container_name: backend
    ports:
      - "8088:8088"

  frontend:
    build:
      context: ../../frontend
    image: frontend:latest
    container_name: frontend
    ports:
      - "5174:80"

  hello-service:
    build:
      context: ../../hello-service
      dockerfile: Dockerfile
    image: hello-service:${VERSION:-local}
    container_name: hello-service
    ports:
      - "9090:9090"
    environment:
      VERSION: ${VERSION}
    pull_policy: never
