services:
  backend:
    build: ../../backend
    image: backend:${VERSION:-local}
    container_name: backend
    ports:
      - "8088:8080"
    volumes:
      - ../scripts:/ops/scripts
      - ../compose:/ops/compose
      - ../state:/ops/state
      - /var/run/docker.sock:/var/run/docker.sock   
  frontend:
    build: ../../frontend
    image: frontend:${VERSION:-local}
    container_name: frontend
    ports:
      - "5173:80"

  hello-service:
    build: ../../hello-service
    image: hello-service:${VERSION:-local}
    container_name: hello-service
    ports:
      - "9090:9090"
    environment:
      VERSION: ${VERSION}
